<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>脉诊之道</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.css">
<link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">
	<%include header%>
	<div class="col-lg-12 main">
			<div class="col-lg-12" style="padding:0px">
				<h4 style="border-bottom:1px solid #aaa;padding:10px 0px;margin:0px;margin-bottom:10px">添加节目
			</h4>
				<div class="col-lg-12" style="padding:20px 0px">
					<form role="form" id='showinfo' action="/addshow" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<input type="text" name="url" class="form-control" id="url" style="display:block;width:100%">
							<p style="text-align:right;margin-top:20px">
								<span style="float:left;color:red">视频资源链接地址</span>
								<a href="javascript:;" class="btn btn-info" style="margin-right:10px" onclick="checkVideo()">预览</a>
								<a href="javascript:;" class="btn btn-info" id="clear">清除</a>
							</p>
						</div>
						<div class="other-info col-lg-12">
							<div class="left col-lg-8">
								<p>资料信息<span style="margin-left:200px"><a href="javascript:;" onclick="usePrevInfo()">使用上次上传的资料信息</a></span></p>
								<div class="form-group col-lg-12">
									<span class="col-lg-1">标题:</span>
									<input type="text" name="title" class="form-control col-lg-11" id="exampleInputEmail1">
								</div>
								<div class="form-group col-lg-12">
									<span class="col-lg-1">简介:</span>
									<textarea id="desc" name="desc" class="col-lg-11 form-control"></textarea>
								</div>
								<div class="form-group col-lg-12">
									<span class="col-lg-1">分类:</span>
									<div class="cat col-lg-11">
										<input type="hidden" name="category" value="" id="cat-input" />
										<div class="cat-head col-lg-12">选择分类
											<img src="/images/icon.jpg" style="float:right;cursor:pointer" onclick="showCat()" />
										</div>
										<div id="cat" style="display:none" class="cat-body col-lg-12">
											<li>中医</li>
											<li>心性</li>
											<li>脉诊之道</li>
											<li>心性课程</li>
											<li>学中医</li>
											<li>中药</li>
											<li>其他</li>
										</div>
									</div>
								</div>
								<div class="form-group col-lg-12">
									<span class="col-lg-1">标签:</span>
									<input type="text" name="tags" class="form-control col-lg-11" id="tag">
									<div class="col-lg-11 col-lg-offset-1" style="padding:0px;padding-top:10px">我的标签:</div>
									<div id="tag-list" class="col-lg-11 col-lg-offset-1 biaoqian" style="padding:0px;padding-top:10px">常用标签:
										<span>中医</span>
										<span>脉诊</span>
										<span>诊疗</span>
										<span>脉络</span>
										<span>培训</span>
									</div>
								</div>
								<div class="form-group col-lg-12">
									<span class="col-lg-1">推送消息:</span>
									<textarea id="info" name="pushinfo" class="col-lg-11 form-control"></textarea>
								</div>
							</div>
							<div class="col-lg-4 right">
								<div class="form-group col-lg-12" style="margin-top:47px">
									<span class="col-lg-2">作者:</span>
									<input type="text" name="author" class="form-control col-lg-10" id="exampleInputEmail1">
								</div>
								<div class="form-group col-lg-12">
									<span class="col-lg-2">专辑:</span>
									<p class="col-lg-10"><a href="javascript:;" id="select-special">添加到专辑</a></p>
									<input type="hidden" name="special" id="special" />
								</div>
								<div class="form-group col-lg-12">
									<span class="col-lg-2"></span>
									<p class="col-lg-10" id="show-special"></p>
								</div>
								<div class="form-group col-lg-12">
								
									<span class="col-lg-2">封面:</span>
									<p class="col-lg-10"><label for="picture" style="font-weight:normal;cursor:pointer;color:blue">添加封面</label></p>
									<input type="file" name="picture" id="picture" style="display:none" onchange="previewImage(this)" />
								</div>
								<div class="form-group col-lg-12">
									<div class="col-lg-12" style="padding:0px;width:272px;height;200px;overflow:hidden" id="preview">
										<img src="/images/default.jpg" id="imghead" width="272" height="200" />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group col-lg-12" style="text-align:right">
							<button type="submit" class="btn btn-info" style="margin:20px 0px 0px 26px">保存</button>
							<button type="reset" class="btn btn-info" style="margin:20px 0px 0px 26px">取消</button>
						</div>
					</form>
				</div>
			</div>		
		<div class="col-lg-8"></div>
	</div>
	
	<div id="special-list" class="col-lg-12" style="padding:20px;position:fixed;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,0.4) none repeat scroll;z-index:9999;display:none;">
		<div style="width:100%;height:600px;padding:30px 15px;background-color:#f1f1f1;color:#333;border:1px solid #000000;-webkit-border-radius: 6px 6px 6px 6px;-moz-border-radius: 6px 6px 6px 6px;border-radius: 6px 6px 6px 6px;-webkit-box-shadow: #fff 0px 0px 18px;-moz-box-shadow: #fff 0px 0px 18px;box-shadow: #fff 0px 0px 18px;overflow:hidden;overflow-y:auto;">
			<button class="btn btn-default" style="position:absolute;top:30px;right:30px">关闭</button>			
			<%data.forEach(function(spe){%>
			<div class="col-lg-2" onclick="useThisSpecial(this)" onmouseover="changeStatus(this,'on')" onmouseout="changeStatus(this,'off')" style="text-align:center;cursor:pointer">
				<img src="/uploads/<%=spe.picture%>" style="width:150px;height:150px;border:1px solid #eee;-webkit-border-radius: 6px 6px 6px 6px;	-moz-border-radius: 6px 6px 6px 6px;border-radius: 6px 6px 6px 6px;" />
				<p><%=spe.title%></p>
				<input type="hidden" value="<%=spe._id%>" />
				<p style="color:blue">节目:<%=spe.shows.length%>个</p>
			</div>
		<%})%>	
			
		</div>
	</div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/check.js"></script>
<script src="/javascripts/upload.js"></script>
</body>
</html>
