<div class="page-header col-lg-12">
  <div class="header-menu">
		<ul>
			<li>管理员: admin</li>
			<li><a href="/addspecial">创建专辑</a></li>
			<li><a href="/special">管 理</a></li>
			<li><a href="/addshow">添 加</a></li>
		</ul>
	</div>
</div>
