<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>消息提示</title>
<meta name="description" content="">
<meta http-equiv="refresh" content="<%=time%>;url=<%=url%>">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/jquery.fancybox.css">
<link rel="stylesheet" href="/css/login.css">
<link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body class='login_body'>
	<div class="wrap">
		<form action="/dologin"  autocomplete="off" method="post" class="validate">
		
		<div class="alert alert-info">
			<strong><h3><%=info%></h3></strong>
		</div>
		
	</div>
</body>
</html>